/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0 auto;
  max-width: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  min-height: 100vh;
  font-family: var(--font-family-main);
  font-variation-settings: 'wght' var(--font-weight-text);
  color: var(--accent-color, #000000);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* Шапка */
.header {
  margin-bottom: 100px;
}

.header__container {
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 120px;
  padding-top: 120px;
  border: 2px solid var(--border-color, #000000);
  background-color: var(--background_light-color);
}

.header__logo {
  font-family: var(--font-family-accent);
  font-size: 49px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.header__title {
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
}

/* Карточка */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 50px;
  background-color: var(--background_light-color, #ffffff);
  border: 2px solid var(--border-color, #000000);
}

.card__title {
  font-family: var(--font-family-main);
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: var(--font-size-main);
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

}

.card__image-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  border-top: 2px solid var(--border-color, #000000);
  border-bottom: 2px solid var(--border-color, #000000);
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.clever_women {
  filter: sepia(0.3) brightness(1) contrast(2.1);
}

.girl {
  filter: invert(0.2);
}

.dog {
  filter: sepia(0.5) brightness(1.2) saturate(1.3);
}

.happy_girl {
  filter: saturate(2.5) brightness(1.1) contrast(1.2);
}

.mom {
  filter: saturate(1.3);
}

.math {
  filter: sepia(0.1) contrast(1.3) brightness(0.95);
}

.money {
  filter: contrast(1.8) brightness(0.7) saturate(1.1);
}

.bing {
  filter: brightness(1.1) saturate(1.1) blur(0.1px);
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 5;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-family-accent), monospace;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color, #000000);
  text-shadow: -1px -1px 0 var(--text-stroke-color), 1px -1px 0 var(--text-stroke-color);
}

.dialog__container-button {
  margin-left: 20px;
  margin-right: 20px;
}

@supports (text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #ffffff);
  }
}

.card__text {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  margin-top: 7px;
  padding-left: 25px;
  padding-right: 26px;
  line-height: 1.17;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.30rem;
}

.card__icon-button {
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;

}

.card__icon-button:focus {
  outline: none;
}

.save-button-wrapper {
  margin: 2rem auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.save-button {
  font-size: 14px;
  min-width: 306px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px;
}

.save-button.button__text {
  width: fit-content;
}

.save-button_icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  color: var(--text-stroke-color, #ffffff);
  mix-blend-mode: difference;
  z-index: 2;
}

.dialog__button {
  padding: 0.5rem 1rem;
  background-color: var(--background_light-color);
  width: 100%;
  font-size: 14px;
}

.card__like-button {
  margin-right: 25px;
  margin-bottom: 20px;
  width: var(--button-width, 130px);
  height: var(--button-height, 38px);
}

.card__icon-button:focus-visible {
  box-shadow: none;
  outline: none;
  border-color: var(--accent-color);
}

.card__icon-button::before {
  display: none;
  content: none;
}

.save-button:focus {
  outline: none;
}

.like-icon {
  width: 39px;
  height: 36px;
  display: block;
  margin-bottom: 20px;
}

.dialog__container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.dialog::backdrop {
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.75);
}

.dialog__icon {
  min-width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  grid-column: 2fr;
  line-height: 150%;
}

.dialog__description {
  font-family: var(--font-family-main);
  font-size: 14px;
  line-height: 1.4;
  color: var(--accent-color);
}



@media (min-width: 1440px) {

  /* Шапка */
  .header {
    margin-bottom: 95px;
    display: grid;
    justify-items: center;
    align-items: center;

  }

  .header__container {
    margin-top: 100px;
    padding-bottom: 130px;
    width: 700px;

  }

  .header__logo {
    font-size: 65px;
    margin-top: 10px;
  }

  .header__title {
    font-size: 23px;
  }

  /* Карточки */
  .card {
    max-width: 700px;
    margin-bottom: 50px;
  }

  .save-button {
    flex-direction: row;
    min-width: 340px;
    max-height: 59px;
  }

  .save-button_icon {
    max-width: 20px;
  }

  .dialog__container {
    max-width: 320px;
    max-height: 130px;
  }

  .dialog__container-button {
    margin-left: 20px;
    margin-right: 20px;

  }

}